[Unit]
Description=Flet App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/DBProjectPublicHost/DBProject
Environment="FLET_SERVER_PORT=8501"
ExecStart=python3.12 main.py

[Install]
WantedBy=multi-user.target